body {
    background-color: rgb(92, 51, 112);
}
#canvas_container {
    background-color: rgb(92, 51, 112);
    text-align: center;
}
#foreground_canvas {
    margin: 20px auto;
    position: absolute;
    border: 10px ridge #ffffff;
    border-radius: 10px;
}
#midground_canvas {
    margin: 20px auto;
    position: absolute;
    border: 10px ridge #ffffff;
    border-radius: 10px;
}
#background_canvas {
    margin: 20px auto;
    border: 10px ridge #ffffff;
    border-radius: 10px;
}
