body {
    background-color: black;
}
#canvas_container {
    background-color: darkorchid;
    text-align: center;
}
#game_canvas {
    background-color: rgb(11, 83, 11);
    /*background-image: url("images/sdv1.jpg");
    background-repeat: no-repeat;*/
    background-size: auto;
    padding: 0px;
}
